body, html {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'poppins', 'sans-serif';
}

.index-intro p {
    margin: 0;
    padding: 0;
    color: #1492A8;
    font-size: 48px;
    font-weight: bold;
}


p {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.offset {
    display: block;
    position: relative;
    top: -72px;
    visibility: hidden;
}

.offset-overmij {
    display: block;
    position: relative;
    top: 48px;
    visibility: hidden;
}

/* NAV */

.navigate {
    z-index: 10;
    top: 0;
    position: fixed;
    height: 56px;
    background-color: #fff;    
    width: 100%;    
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

.navigate-container {
    padding: 0 16px;
    max-width: 1600px;  
    margin: 0;
    display: flex; 
    background-color: #fff;   
    
}

#togglemenu {
    position: absolute;
    right: 16px;
    display: flex;
    color: #1492A8;      
    box-sizing: border-box;
    height: 56px;
}

nav {       
    position: absolute;
    right: 0;    
    /* height: 100%; */    
    width: 240px;
   
    
    
    
    
    background-color: #fff;
    display: flex;      
    
}

ul {   
    display: none;   
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   


    /* display: flex; */
    margin: 0 0 auto auto;
    padding: 56px 0 0 0;
    
    
    list-style: none;        
    

}

/* input[type=checkbox]:checked ~ ul {
    display: block;
} */

li {
    padding: 20px;


    
    
    flex-grow: 1;
    cursor: pointer;
    margin: auto;
    /* display: flex; */
    height: 100%;
    
}



li a {  
    margin: auto 0;
    text-decoration: none;
    /* display: flex; */
    padding-right: 32px;
    color: #1492A8;   
}


.logo { 
    height: 44px;
    width: auto;
    margin: auto 32px auto 0;
}

.logo img {
    height: 44px;
    width: auto;
}

/* HEADER */

header {
    width: 100%;
    height: 400px;
    margin-top: 80px;
    background-color: #fff;
    display: flex;
}

.index-intro {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 32px;
}

.big-intro-square {
    background-color: #1492A8;
    /* height: 136px; */
     /* max-width: 784px; */
    height: 56px;
    margin: 60px auto 0 auto;
    display: flex; 
   
    max-width: 320px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: skewX(-12deg);    
}

h1 {
    /* margin: 24px auto auto auto; */
    margin: 8px auto auto auto;
    color: #fff; 
    /* font-size: 40px;  */
    font-size: 26px; 
    transform: skewX(12deg);
}

.small-intro-square {    
    margin: -8px auto 0 auto;
    display: flex;  
    /* margin: -32px auto 0 auto; */
    /* height: 80px;
    max-width: 512px; */
    height: 32px;
    max-width: 240px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: skewX(-12deg);
}

h2 {
    margin: auto;
    color: #1492A8;
    /* font-size: 32px;  */
    font-size: 18px; 
    transform: skewX(12deg);
}

/* PORTFOLIO */

main {
    
    margin: 0 auto;
    background-color: #F2F2F2;
}



.portfolio {    
    margin-top: 120px;
}

.portfolio-title, .overmij-title {
    background-color: #1492A8;
    height: 72px;
    display: flex;
}

h3 {
    color: #fff;
    margin: auto;
    font-size: 30px;
}

.portfolio-content-container {
    padding: 0 32px;
    max-width: 1600px;
    margin: 120px auto 0 auto;
    background-color: #F2F2F2;
    
    
    
}

.portfolio-content {  
    cursor: pointer;  
    box-sizing: border-box;   
    margin-bottom: 32px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.portfolio-content-info {
    padding: 20px;
}

.portfolio-img-container {
    height: 240px;
    display: flex;
    padding: 20px;
    box-sizing: border-box;  
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.green {
    background-color: #69CE59;
}

.bluegreen {
    background-color: #3D948B;
}

.black {
    background-color: #000;
}

.portfolio-img-container img {
    max-height: 100%;
    max-width: 100%;
}

h4 {
    font-size: 22px;
    color: #1492A8;
    margin: 0;
    padding: 0;
}



/* OVERMIJ */

.overmij {    
    margin-top: 120px;
}

.overmij-var-title {
    background-color: #1492A8;
    display: flex;
    height: 48px;
    max-width: 416px;
    margin: 0 auto;
}

h5 {
    margin: auto;
    color: #fff;
}

.overmij-intro {   
    margin: 120px auto 0 auto;   
    max-width: 1600px;
    padding: 0 32px;    
}

.overmij-intro-content {   
    display: flex;
}

.overmij-intro-content img {
    width: 50%;
    height: 50%;
    margin: 0 auto;    
}

.overmij-intro-content p {
    margin-top: 60px;
}


/* OVER MIJ > vaardigheden */

.overmij-var {
    max-width: 1600px; 
    padding: 0 32px; 
    margin: 120px auto 0 auto;

}

.overmij-var-title {
    display: flex;
    transform: skewX(-12deg);
    height: 48px; 
}

h5 {
    font-size: 28px;
    margin: auto;
    padding: 0;
    transform: skewX(12deg);       
}

.overmij-var-info-container {     
    border: 1px #1492A8 solid;
    box-sizing: border-box;
    margin-top: -24px; 
    padding-top: 32px;
    
}

.overmij-var-info {    
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 32px;
}



h6 {
    font-size: 24px;
    color: #1492A8;
    margin: 0;
    padding: 0;
}


/* OVER MIJ > cyclus */

.overmij-cyclus-container {
    display: flex;
}

.overmij-cyclus-info {
    border: 1px #1492A8 solid;
}

.overmij-cyclus-title {
    background-color: #1492A8;
    display: flex;
    height: 48px;
    /* width: 416px; */
    margin: 0 auto;
}

@media only screen and (min-width: 600px) {

    /* NOHAMBURGER NAV */

    .navigate-container {
        padding: 0 32px;
       
        
    }

    #togglemenu {
        display: none;
    }

    nav {          
        position: relative;            
        width: 100%;

        height: 100%;       
    }

    ul {                
        box-shadow: none;     
              
        display: flex;
        margin: auto 0;
        padding: 0;
    }

    li {
        padding: 0;       
    }

    li a {
        margin: auto 0;
        text-decoration: none;
        /* display: flex; */
        padding-right: 32px;
        color: #1492A8;    
    }

    /* HEADER */

    header {        
        height: 800px;        
    }


    .index-intro p {      
        font-size: 64px;
    }

    .big-intro-square {   
        margin: 120px auto 0 auto;   
        height: 104px;
        max-width: 720px;    
    }
    
    h1 {
        margin: 16px auto auto auto;    
        font-size: 40px;         
    }
    
    .small-intro-square {            
        margin: -24px auto 0 auto;
        height: 64px;
        max-width: 440px;      
    }
    
    h2 {       
        font-size: 32px;        
    }


    /* PORTFOLIO */

    .portfolio-content-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }  

    .portfolio-content {
        flex-basis: 45%;
    }

    /* OVERMIJ */

    .overmij-intro {
        display: flex;
        justify-content: space-around;
        align-items: center;       
    }

    .overmij-intro-content img {
        width: 100%;
        height: 100%;
    }

    .overmij-intro-content p {
        margin-top: 0;
    }
    

    .me {
        flex-basis: 30%
    }
    
    .metekst {
        flex-basis: 60%;
    }

    /* OVERMIJ > vaardigheden */

    .overmij-var-info-container {      
        display: flex;  
        justify-content: space-between;
        flex-flow: wrap;
        
    }
    
    .overmij-var-info {    
        flex-basis: 45%;
    }
}


@media only screen and (min-width: 900px) {
    .portfolio-content {
        flex-basis: 30%;
    }

    .portfolio-content-info {
        padding: 40px;
    }

    .me {
        flex-basis: 20%
    }
    
    .metekst {
        flex-basis: 40%;
    }

    /* OVERMIJ > vaardigheden */
    
    .overmij-var-info {    
        flex-basis: 30%;
        padding: 40px;
    }
        

    
}

@media only screen and (min-width: 1200px) {
    
}